certifi==2022.12.7
Click==7.0
gunicorn==19.3.0
Flask==1.1.1
google-cloud-translate==2.0.0
itsdangerous==1.1.0
Jinja2==2.10.3
MarkupSafe==1.1.1
PyJWT==1.7.1
python-dateutil==2.8.1
six==1.14.0
smooch==5.21.0
urllib3==1.25.8
Werkzeug==0.16.0
google-cloud-storage